################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cv01/.vs/ux_cv01/v16
/cv01/bin/x86/Debug
/cv01/obj
